@model IEnumerable<FireSafe.Models.Seller>

@{
    ViewData["Title"] = "Merchants";
}

<h1>Merchants</h1>

<p>
    <a asp-action="Create">Add New Merchant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
        </tr>
}
    </tbody>
</table>
