@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fire Safe</h1>
    <p>Fire Safe is an application for creating a complete inventory of your personal possessions in case of loss during a fire or natural disaster. </p>
    <p>To begin logging your items, click the My Inventory link above.</p>
</div>
