@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Fire Safe</h1>
        <br />
        <p>Fire Safe is an application for creating an inventory of your personal possessions in case of loss during a fire, natural disaster, or other tragic event. </p>
        <br />
        <p>By using Fire Safe, you will have a complete list of your belongings and their value to aid you in the process of replacing your possessions or filing an insurance claim. </p>
        <br />
        <p>To begin logging your items, click the My Inventory link above.</p>
        <br />
        <img src="~/images/firesafe.png" alt="firesafe logo" width="500" />
    </div>
