@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="privacy">Fire Safe is committed to handling your personal data with care and integrity.</p>
<p class="privacy">Any data that is shared with Fire Safe will remain confidential and will not be shared with third parties without your consent.</p>
<h1>Disclaimers</h1>
<p class="privacy">Functionality provided by Fire Safe is for informational purposes only.</p>
<p class="privacy">Fire Safe is not an insurance product and the use of this application does not imply or guarantee reimbursement of any lost, stolen, or damaged possessions.</p>
<p class="privacy">Neither Fire Safe nor its creators shall be held liable in the event of any loss of data or interruption of service.</p>
<p class="privacy">Fire Safe functionality is subject to change at any time and without notice.</p>


